/*------------------
 font style
 -------------- */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #ecf0f1;
}
/*------------------
 nav-bar start
--------------------*/
nav.nav-bar {
    height: 146px;
    position: relative;
}
.log {
    position: absolute;
    top: 35px;
    left: 173px;
}
.inf-color-text{
    color: #e84393;
}
/*------------------
 nav-bar End
--------------------*/


/*------------------------
headder section start
-------------------------*/
.common-section{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
h1{
    color: #555555;
    
}
.container-detail {
    width: 500px;
    float: left;
}
.container {
    width: 75%;
}
.container-title {
    font-size: 22px;
    margin-bottom: 16px;
}
p{
    font-family: 'Poppins', sans-serif;
}
.container-detail p {
    color: rgb(114, 114, 114);
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}
.camara-img img {
    width: 350px;
    margin-left: 116px;
    background-color: #f0f0f0;
    border-radius: 180px;
    border: 2px solid #c7c5c5;
}
.button a {
    text-decoration: none;
    font-size: 16px;
    background-color: #d63031;
    padding: 10px 60px 10px;
    display: inline-block;
    color: #ffff;
    border-radius: 29px;
    position: relative;
}
.arrow {
    font-weight: 900;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 14px;
    right: 30px;
}
/*------------------------
 headder section end 
 -------------------------*/

 
 /*--------------------------
  popular card start
------------------------- */
.common-title h1 {
    text-align: center;
    height: 80px;
    font-size: 30px;
}
.popular-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}
.card {
    background-color: #dcdde1;
    width: 330px;
    height: 500px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.card-tatile {
    width: 210px;
    margin-left: 20px;
    margin-top: 16px;
}
h2, h3, span, p{
    color: #555555;
}
.fill{
    color: #f1c40f;
}
.emty {
    color: white;
}

.card-img img {
    width: 300px;
    height: 230px;
    margin-left: 16px;
    margin-top: 13px;
    border-radius: 12px;
}

 /*--------------------------
  popular card End
------------------------- */



/*--------------------------- 
contsct section start 
-----------------------------*/
.contact-img img {
    width: 380px;
    float: left;
}
.input-group {
    display: grid;
    width: 380px;
    padding-left: 150px;
    padding-top: 25px;
}
input.input-text{
    background-color: #ecf0f1;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border-bottom: 1px solid red;
}
label {
    margin-bottom: 20px;
}
textarea {
    outline: none;
    border: none;
    border-bottom: 1px solid red;
    margin-bottom: 20px;
}
/*--------------------------- 
contsct section End 
-----------------------------*/

/*---------------------
 Footer Section Start 
---------------------*/
footer.common-section {
    background-color: #30336b;
    height: 170px;
}
.footer-title {
    margin-top: 30px;
}
.container-box h2, h3, p {
    color: #f0f0f0;
    text-align: center;
}
.footer-icon{
    display: flex;
    justify-content: center;
}
.common{
    color: #e84393;
    font-size: 24px;
    padding: 10px;
}

.footer-icon {
    display: flex;
    justify-content: center;
}
/*---------------------
 Footer Section End 
---------------------*/

@media only screen and (max-width:688px) {
    .common-section{
        width: 100%;
    }
    .log h1 {
        margin-left: -124px;
    }
   
    .container-detail{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .camara-img img {
        width: 246px;
        margin-top: 40px;
        margin-left: 40px;
    }
    .popular-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .full-box{
        display: flex;
    }
    .input-box{
      
    }
    .contact-img img{
        width: 250px;
        margin-left: 26px;
    }
    .input-group{
        width: 200px;
        margin-left: -80px;
    }

    
  


}